name = "crud-phishing-worker"
main = "src/index.js"
compatibility_date = "2024-12-19"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true

[env.production]
name = "crud-phishing-worker-prod"
